            .event-summary {
                margin: 10px 0px 10px 0px;
                border: 1px solid grey; 
                box-shadow: 5px 5px 5px lightgray;
            }
            
            .type-icon {
                display:flex;
                justify-content:center;
                align-items:center;
                height:75px;   
            }

            .timestamp {
                display:flex;
                justify-content:center;
                align-items:center;
                height:75px;
                font-size: 80%;    
            }

            .view-payload-link {
                display:flex;
                justify-content:center;
                align-items:center;
                height:75px;           
            }

            .event-info {
                height: 75px;
            }

            /*
            div {
                 border: 1px black solid;
            }
                */

            .event-name {
                font-size: 125%;
                margin: 0px;
            }